@font-face {
    font-family: "Segoe UI";
    src: url("fonts/Segoe-UI.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("fonts/Segoe-UI-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

:root {
    --font-text: "Segoe UI", sans-serif;
}
