:root {
    --system: #a0a0a4;

    --white: #fff;
    --black: #000;
    --gray: #9797af;

    --smoky: #f6f6fa;
    --smoky-dark: #f0ecf4;

    --green: #0cb477;
    --violet: #6725a8;
    --orange: #f55123;
    --deep-orange: #ff970d;
    --accent: #cb11ab;

    --mobile-icons: #cccccc;
}
